<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Főoldal</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Felhasználók</a>
        <button class="btn btn-link nav-item nav-link" (click)="logout()">Kilépés</button>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <alert></alert>
    <router-outlet></router-outlet>
</div>